<nav>
    <a href="/"><img src="../images/erlem.svg" alt="Chem Index logo" id="chem-index-logo"></a>
    
    <ul>
        <% if(user){ %>
        <li id="user"><%= user ? user.email : "" %></li>

            <form action="/logout" method="POST">
                <button type="submit" class="button-component">Logout</button>
            </form>
            

            <% } else { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
            <% } %>
        
    </ul>
</nav>




