.dashboard {
  display: flex;
  flex-direction: row;
  background-color: #f5f7fa;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  padding: 20px;
  gap: 20px;
}

.dashboard-info {
  background-color: #ffffff;
  width: 20%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-info h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.dashboard-info p {
  margin-bottom: 10px;
}

.dashboard-strong {
  display: inline-block;
  color: #333;
  font-weight: bold;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.quantity {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: #d55216;
  font-weight: bold;
}

.dashboard-container {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.dashboard-reagents-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dashboard-reagent-card-content {
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  gap: 100px;
  width: 100%;
}

.dashboard-reagent-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  color: #333;
}

.dashboard-reagent-actions {
  display: flex;
  flex-direction: raw;
  gap: 10px;
  align-items: end;
}

.reagent-card {
  background-color: #e8e7f1;
  border-left: 5px solid #5452c9;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease;
}

.reagent-card:hover {
  background-color: #d8f0e7;
}

.dashboard-reagent-info p {
  margin: 0;
  font-size: 0.95em;
}

.dashboard-reagent-actions {
  display: flex;
  gap: 10px;
}

.dashboard-reagent-actions .btn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.2s ease;
}

.dashboard-reagent-actions .btn-edit {
  background-color: #f0ad4e;
  color: white;
}

.dashboard-reagent-actions .btn-edit:hover {
  background-color: #ec971f;
}

.dashboard-reagent-actions .btn-delete {
  background-color: #d9534f;
  color: white;
}

.dashboard-reagent-actions .btn-delete:hover {
  background-color: #c9302c;
}

.dashboard-strong {
  font-weight: bold;
  color: #5452c9;
}
