node_modules

node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock


.env
.env.local
.env.development.local
.env.production.local
.env.test


logs/
*.log
*.log.*


dist/
tmp/
.temp/
*.tmp
*.bak
*.swp


.nodemon
nodemon.json
.vscode/
.idea/
*.sublime-project
*.sublime-workspace


tests/
__tests__/
coverage/
*.test.js
*.spec.js

requests/


README.md
LICENSE
.git/
.gitignore
.github/
.gitattributes


.DS_Store
Thumbs.db


Dockerfile
docker-compose.yml
docker-compose.dev.yml