services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - PORT=3000
      - DB_URI=mongodb://mongo:27017/mongodb
      - JWT_SECRET=secret
      - JWT_EXPIRES_IN=1000
    depends_on:
      - mongo
    networks:
      - chemindex-network
    profiles:
      - dev

  mongo:
    image: mongo:7.0
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=mongodb
    networks:
      - chemindex-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand('ping').ok", "--quiet"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    profiles:
      - dev
      - stage
      - db

  app-stage:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "7000:7000"
    environment:
      - NODE_ENV=production
      - PORT=7000
      - DB_URI=mongodb://mongo:27017/mongodb
      - JWT_SECRET=secret
      - JWT_EXPIRES_IN=1000
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - chemindex-network
    profiles:
      - stage
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7000/ || exit 1"]
      interval: 2s
      retries: 15
      start_period: 5s
      timeout: 2s

networks:
  chemindex-network:
    driver: bridge
