<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', { nonce: nonce} ) %>
<body>
    
    <%- include('./partials/navbar.ejs', { user: user}) %>

    <main>
        <div class="hero-content">
                <h1 class="title-hero">Register Your Reagents</h1>
                <h2 class="text-hero">by Chem Index</h2>
                <p class="text">A free registration products web app <br> to organize your warehouse.</p>
                <a href="/user-system" class="button-hero">Access System</a>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>