<!DOCTYPE html>

<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <div class="login-container">
      <h1>Login</h1>
      <form id="form-login" method="POST">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
        <span class="email-error-login" style="color: red"></span>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
        <span class="password-error-login" style="color: red"></span>

        <button id="login-button-register" type="submit">Login</button>
      </form>
      <p>If you don't have an account, please <a href="/sign-up">Sign up</a></p>
      <p>Forgot your password? <a href="/forgot-password">Reset it</a></p>
    </div>

    <%- include('./partials/footer.ejs') %>

    <script nonce="<%= nonce %>">
      document.addEventListener("DOMContentLoaded", () => {
        const formL = document.querySelector("#form-login");
        const emailErrorL = document.querySelector(".email-error-login");
        const passwordErrorL = document.querySelector(".password-error-login");

        formL.addEventListener("submit", async (e) => {
          e.preventDefault();

          const email = formL.email.value;
          const password = formL.password.value;

          try {
            const csrfResponse = await fetch("/api/v1/token/csrf-token");
            const csrfData = await csrfResponse.json();

            const csrfToken = csrfData.csrf;

            if (!csrfToken) {
              console.log("Invalid csrf Token");
            }

            const res = await fetch("/api/v1/users/auth/login", {
              method: "POST",
              body: JSON.stringify({ email, password }),
              headers: {
                "Content-Type": "application/json",
                "X-CSRF-Token": csrfToken,
              },
            });

            const data = await res.json();

            emailErrorL.textContent = "";
            passwordErrorL.textContent = "";

            if (data.errors) {
              emailErrorL.textContent = data.errors.email || "";
              passwordErrorL.textContent = data.errors.password || "";
            }

            if (data.user) {
              console.log("Successful login!");
              location.assign("/dashboard-reagents");
            }
          } catch (error) {
            console.log("Login Error:", error);
          }
        });
      });
    </script>
  </body>
</html>
