<!DOCTYPE html>

<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/navbar.ejs') %>

    <div class="signup-container">
        <h1>Sign Up</h1>
        <form id="form-signup" action="/signup" method="POST">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <span class="email-error-signup" style="color: red;"></span>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <span class="password-error-signup" style="color: red;"></span>

            <button id="signup-button-register" type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="/login">Login</a></p>
    </div>

    <%- include('./partials/footer.ejs') %>

    <script nonce="<%= nonce %>">
        document.addEventListener("DOMContentLoaded", () => {
            const formS = document.querySelector('#form-signup');
            const emailErrorS = document.querySelector('.email-error-signup');
            const passwordErrorS = document.querySelector('.password-error-signup');

            formS.addEventListener('submit', async (e) => {
                e.preventDefault();

                const email = formS.email.value;
                const password = formS.password.value;
                console.log('email, password:', email, password);

                try {
                    const csrfResponse = await fetch('/api/v1/token/crsf-token');
                    const csrfData = await csrfResponse.json();
                    const csrfToken = csrfData.csrf;

                    console.log('token csrf:', csrfToken, 'type:', typeof csrfToken);

                    if(!csrfToken){
                        console.log('Invalid csrf Token');
                    }

                    const res = await fetch('/api/v1/users/auth/sign-up', {
                        method: 'POST',
                        body: JSON.stringify({ email, password }),
                        headers: { 
                            'Content-Type': 'application/json',
                            'X-CSRF-Token': csrfToken 
                        }
                    });

                    const data = await res.json();

                    emailErrorS.textContent = '';
                    passwordErrorS.textContent = '';

                    if (data.errors) {
                        emailErrorS.textContent = data.errors.email || '';
                        passwordErrorS.textContent = data.errors.password || '';
                    }

                    if (data.user) {
                        console.log('Successful registration!');
                        location.assign('/');
                    }
                } catch (error) {
                    console.log('Registration Error:', error);
                }
            });
        });
    </script>

</body>
</html>
