<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <main class="dashboard">
      <div class="dashboard-container">
        <h1 class="dashboard-title">Page Not Found</h1>
        <p style="font-size: 1.2em; color: #666">
          Please check the URL or
          <a href="/" style="color: #5452c9; text-decoration: underline">
            return to the homepage </a
          >.
        </p>

        <div style="margin-top: 30px"></div>
      </div>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
