footer{
    font-family: "Work sans", arial;
    display: flex;
    justify-content: center;

}

.p-footer{
    font-family: "Work sans", Arial;
    font-size: 1.3em;
    color: gray;
}

@media (max-width: 1200px) {
    footer{
        scale: 0.9;
    }    
}

@media (max-width: 1000px) {
    footer{
        scale: 0.8;
    }  
    
}

@media (max-width: 800px) {
    footer{
        scale: 0.7;
    }    
}

@media (max-width: 450px) {
    footer{
        scale: 0.5;
    }    
}