body {
    font-family: "Roboto", Arial;
    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;   
    
}

a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    font-family: "Work Sans", Arial;
    color: rgba(64, 64, 232, 0.94);
}

#chem-index-logo {
    
    left: 2em;
    width: 2.2em;
    height: 2.2em;
    padding-left: 2em;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 2em;
    
}

li {
    margin-right: 2em;
    display: inline-block;
}

#user{
    color: rgb(237, 171, 171);
    font-family: "Work Sans", Arial;
    
}

@media (max-width: 388px) {
    #user{
        color: white;
    }
}